{% import "_macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">

<head>
 <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GPK84X1J34"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GPK84X1J34');
</script>

  <link rel="stylesheet" href="{{ get_url(path="main.css") }}" />
  {% block header %}
  {% endblock header %}
  <link rel="dns-prefetch" href="//www.google-analytics.com/" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=m2llJQPQq8">
  <link rel="icon" type="image/png" sizes="32x32" href="/site_logo.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/site_logo.png">
  <link rel="mask-icon" href="/safari-pinned-tab.svg?v=m2llJQPQq8" color="#5bbad5">
  <link rel="shortcut icon" href="/site_logo.png">
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#ffffff">
  <meta name="author" content="Suhailr7>
  <meta name="description" content="Adventurer" />
  <title>suhailr7</title>
</head>

<body>
  {% include "snippets/theme-toggle-only.html" %}
  <div class="container">

    <main>
    <div class="body">
        <header>
      <div class="bio">
      {% include "snippets/logo.html" %}
      <h2>  🅂🅄🄷🄰🄸🄻 🅡➐  </h2>
      <h4> ᴅᴇsɪɢɴ - ʙᴜɪʟᴅ - ʙʀᴇᴀᴋ - sᴇᴄᴜʀᴇ </h4>
      <div class='main-row'>
      <a class='h-link' href="/resources">Resources</a>
      <a class='h-link' href="https://twitter.com/nmbr_7">X</a>
      <a class='h-link' href="https://github.com/nmbr7">Github</a> 
      <a class='h-link' href="/about">About</a>
      </div>
      </div>
    </div>
        </header>
    
    </main>
  </div>
  {% block teaser %}

  {% endblock teaser %}
</body>

</html>
